<div class="page-top clearfix" scroll-position="scrolled" max-height="70" ng-class="{'scrolled': scrolled}" style="background-color: black">

    <div class="row">

            <div class="col-sm-12">

                <a style="margin-top: 10px" href="#/dashboard" class="al-logo clearfix"><span style="color: red" >Oracle</span>CCST</a>
                <a style="margin-top: 20px" href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

              <div style="color: white; text-align: center; font-size: 22px; margin-top: 30px">

              <span> Welcome <b style="color:red">{{USERNAME }}</b> !</span>

              </div>

                <div class="user-profile clearfix" style="margin-top: -30px">

                <div class="al-user-profile" uib-dropdown>

                  <a uib-dropdown-toggle class="profile-toggle-link">

                    <img ng-src="{{::( 'user' | profilePicture )}}">

                  </a>

                  <ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
                    <li><i class="dropdown-arr"></i></li>
                   <!-- <li><a href="#/profile"><i class="fa fa-user"></i>Profile</a></li>  -->
                    <li><a href><i class="fa fa-cog"></i>Settings</a></li>
                    <li><a href class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>
                  </ul>

                </div>

              </div>

            </div>


    </div>

</div>

